.form {
  
    max-width: 400px;
    min-height:100px;
  }
  .container {
    /* background-color: #FFD1c1; */
    color: black;

  }
  body {
    background-color:#C6F5D9;
  }
  .form-group {
    /* background-color:white; */
    /* color: black; */


  }
  .nav_color{
    background-color:#b8dfb8;

  }

  .form-groupc {
    background-color:#C6F5D9;

  }
  h1 {
    color: seagreen;
  }
  h2 {
    color: seagreen;
  }